@{ 
    decimal totalLocal = (decimal)ViewBag.totalLocal;
    decimal totalForeign = (decimal)ViewBag.totalForeign;
}

<div>
    <label>Total local</label>
    <p>@totalLocal</p>
    <label>total extranjero</label>
    <p>@totalForeign</p>
</div>